Package: krack
Version: 0.5
Section: stable
Priority: optional
Architecture: all
Depends: bash,cron-apt
Maintainer: Sylvain Gandon <krack_6@hotmail.com>
Description: Gestion personnalisé pour mon parc de pc.
Homepage: http://www.spiritofborepaire.fr
